table.calendar {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}


table.calendar > tbody > tr > th {
    background-color: black;
    color: white;
}

table.calendar > tbody > tr > td {
    background-color: #414141;
    color: white;
}


.calendar-today {
    border: 1px solid yellow;
}

.highlighted-day {
    background: #a79e1e !important;
    color: black;
    font-weight: bold;
}
