/* document style */
body {

}

/* header style */
header {

}

/* footer style */
footer {

}

/* primary heading style */
h1 {

}

/* secondary heading style */
h2 {

}

/* tertiary heading style */
h3 {

}

/* paragraph style */
p {

}

/* button (normal) style */
button {
    background-color: #117D7C;
    border-radius: 39px;
    border: 0;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

/* button mouse over style */
button:hover {
    
        box-shadow: 0px 4px 6px 0px rgba(0,0,0,.25);
      

}



/* active button style (clicked) */
button:active {
   background-color: #0D5D5D;
   box-shadow: none;

}

button.special {
    
}

/* input (text, number) style */
input[type=text][type=number] {

}

/* search style */
input[type=search] {

}

/* checkbox (default) style */
input[type=checkbox] {

}

/* checkbox (checked, clicked) style */
input[type=checkbox]:checked {

}

/* radio button (default) style */
input[type=radio] {

}

/* radio button (checked, clicked) style */
input[type=radio]:checked {

}

/* dropdown menu style */
select {

}

/* dropdown option style */
select > option {

}

/* textarea style */
textarea {

}
